A record for RP domain

Although the RP record has an MX and TXT, i'd recommend updating the docs to get an A record added.

May help and could lead to fewer rejections/spam classifications.

Some errors seen on testers.

```
The target domain exists, but the requested DNS record was not found (A). The mechanism will not match.

A void DNS lookup was encountered (1 out of 2 allowed). Exceeding the limit will result in SPF "permerror". Publishing an SPF policy that refers to data that does not exist in DNS is a poor practice and raises security concerns (see RFC7208 Section 4.6.4.).
```

Our testing shows better acceptance rates when the RP has an A record vs not (as per the DNS guide).

https://github.com/atech/postal/wiki/Domains-&-DNS-Configuration