Handling Bounces Soft and Hard in Special circumstances for ESP like Yahoo and others.

Hi,

postal bounce handling can be improve as in case of yahoo many time it temporary defer the message acceptance from IP or domain under many circumstances.
-----------
421 4.7.0 [TSS04] Messages from [origin IP] temporarily deferred due to user complaints - 4.16.55.1; see https://help.yahoo.com/kb/postmaster/SLN3434.html
-----------
Currently postal has some default limitation of 18 attempt (which even can set higher) then it consider it hard and add default it to suppression list and eventually send a hard bounce webhook.
------------------
Maximum number of delivery attempts (18) has been reached. Added XXusernameXXX@yahoo.com to suppression list because delivery has failed 18 times.
------------------
Suggestion: 

1. Optionally instead of maximum this could be time as well as many email adhere the delivery time-frame.

2- There could be message retired functionality which simple discard the message after maximum number of attempts or maximum time reached.

3. Instead of adding to suppression such messages can be entirely discarded without marking as hard bounce or suppressed into suppression list or may be marked as only soft bounce finally, as this kind of issue or temporary.

thanks

Yahoo mail seems to be easily offended as I think has been discussed here somewhere before.

Postal isn't designed for time-based email sending and just keeps sending an email until it has definitely failed or succeeded.

If you are having an issue based on the content of your email, have you tried using https://www.mail-tester.com/ to see if there are any issues with it?

Thanks for your reply.

in /opt/postal/app/app/jobs/unqueue_message_job.rb on line 54 
I made the small changes to not suppressed the email after it exceeded the maximum retry for softmail and keep it softmail itself and retire it.


            # We might not be able to send this any more, check the attempts
            if queued_message.attempts >= Postal.config.general.maximum_delivery_attempts
              details = "Maximum number of delivery attempts (#{queued_message.attempts}) has been reached."
              if queued_message.message.scope == 'incoming'
                # Send bounceds to incoming e-mails when they are hard failed
                if bounce_id = queued_message.send_bounce
                  details += " Bounce sent to sender (see message <msg:#{bounce_id}>)"
                end
              elsif queued_message.message.scope == 'outgoing'
                # Add the recipient to the suppression list
                #if queued_message.server.message_db.suppression_list.add(:recipient, queued_message.message.rcpt_to, :reason => "too many soft fails")
                #  log "Added #{queued_message.message.rcpt_to} to suppression list because maximum attempts has been reached"
                #  details += " Added #{queued_message.message.rcpt_to} to suppression list because delivery has failed #{queued_message.attempts} times."
                #end
              end
              queued_message.message.create_delivery('SoftFail', :details => details)
              queued_message.destroy
              log "#{log_prefix} Message has reached maximum number of attempts. Soft failing."
              next
            end

Now I can see while softmail was reported on webhook the softmail bounce not getting reported? 
can postal leverage with pattern based bouncing functionality optionally (like gmail overquota etc.)?

If no SMTP server present or MX record not present it should be upfront hard bounce, this happen mainly in mailing domain mismatch or wrong or expired etc.

the code at app/lib/postal/smtp_sender.rb (online 180 and 181 )could be turned to HardFail from SoftFail as following

result.type = 'SoftFail'
result.retry = true





That would surely have the unwanted side effect of causing an immediate failure for any SMTP or DNS servers having temporarily issues?

By the way, MX records aren't actually necessary for email - SMTP servers fallback to A/AAAA (address) records as per section 5.1 of RFC5321 (https://tools.ietf.org/html/rfc5321.html#section-5.1):

> The lookup first attempts to locate an MX record associated with the name.  If a CNAME record is found, the resulting name is processed as if it were the initial name.  If a non-existent domain error is returned, this situation MUST be reported as an error.  If a temporary error is returned, the message MUST be queued and retried later (see Section 4.5.4.1).  If an empty list of MXs is returned, the address is treated as if it was associated with an implicit MX RR, with a preference of 0, pointing to that host.  If MX records are present, but none of them are usable, or the implicit MX is unusable, this situation MUST be reported as an error.
> 
> If one or more MX RRs are found for a given name, SMTP systems MUST NOT utilize any address RRs associated with that name unless they are located using the MX RRs; the "implicit MX" rule above applies only if there are no MX records present.  If MX records are present, but none of them are usable, this situation MUST be reported as an error.

in /app/jobs/unqueue_message_job.rb on line 391
I have also made the small changes to not suppressed the email after it exceeded the "2" too many hard fails

>#if result.type == 'HardFail'
                recent_hard_fails = queued_message.server.message_db.select(:messages, :where => {:rcpt_to => queued_message.message.rcpt_to, :status => 'HardFail', :timestamp => {:greater_than => 24.hours.ago.to_f}}, :count => true)
                #if recent_hard_fails >= 1
                  #if queued_message.server.message_db.suppression_list.add(:recipient, queued_message.message.rcpt_to, :reason => "too many hard fails")
                    #log "#{log_prefix} Added #{queued_message.message.rcpt_to} to suppression list because #{recent_hard_fails} hard fails in 24 hours"
                    #result.details += "." if result.details =~ /\.\z/
                    #result.details += " Recipient added to suppression list (too many hard fails)."
                  #end
                #end 



Hi saporus,

I noticed that line 396 is not commmented out. 

But I also notice that your line 396 is different from line 396 in my Postal because the forward slash and the dot in it have been transposed.

Line 396 in my Postal looks like this: `result.details += "." if result.details =~ /\.\z/`
Line 396 in your code looks like this: `result.details += "." if result.details =~ /.\z/`

As you can see /.\ has been transposed. 

I would like to know if you transposed the characters. And if you did, why you did.

If you didn't, I will assume that the guys at Postal changed them and that we have slightly different versions of Postal.

The reason I am interested is because I have MailWizz and I want MailWizz to monitor hard bounces, not Postal.

Thanks.

Best,

Bob

